apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch-single
  namespace: devsecops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
        - name: elasticsearch
          image: docker.elastic.co/elasticsearch/elasticsearch:8.10.0
          env:
            - name: discovery.type
              value: single-node
          ports:
            - containerPort: 9200

# NOTE: Use the official Elastic Helm charts for any non-trivial deployment.
