apiVersion: v1
kind: Service
metadata:
  name: orders-service
  namespace: devsecops
spec:
  selector:
    app: orders-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
  type: ClusterIP
