apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: orders-service-monitor
  namespace: devsecops
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: orders-service
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
