apiVersion: v1
kind: Service
metadata:
  name: products-service
  namespace: devsecops
spec:
  selector:
    app: products-service
  ports:
    - name: http
      port: 80
      targetPort: 8081
      protocol: TCP
  type: ClusterIP
